version: 2.1

orbs:
  python: circleci/python@1.3.2

commands:
  build:
    parameters:
      python-version:
        type: string
      kedro-version:
        type: string
    steps:
      - checkout
      - python/install-packages:
          pip-dependency-file: src/requirements.txt
          pkg-manager: pip

job-setup: &job-setup
  parameters:
    python-version:
      type: string
    kedro-version:
      type: string
  executor:
    name: python/default
    tag: << parameters.python-version >>
  environment:
    KEDRO_VERSION: << parameters.kedro-version >>

jobs:
  build-and-lint:
    <<: *job-setup
    steps:
      - build:
          python-version: << parameters.python-version >>
          kedro-version: << parameters.kedro-version >>
      - run:
          command: kedro lint --check-only
          name: Lint
  build-and-run:
    <<: *job-setup
    steps:
      - build:
          python-version: << parameters.python-version >>
          kedro-version: << parameters.kedro-version >>
      - run:
          command: kedro run --hooks $([[ << parameters.kedro-version >> < "0.17" ]] && echo src.)kedro_accelerator.plugins.TeePlugin
          name: Run the pipeline using the `SequentialRunner`
      - run:
          command: kedro run --parallel --hooks $([[ << parameters.kedro-version >> < "0.17" ]] && echo src.)kedro_accelerator.plugins.TeePlugin
          name: Run the pipeline using the `ParallelRunner`
      - run:
          command: kedro run --runner ThreadRunner --hooks $([[ << parameters.kedro-version >> < "0.17" ]] && echo src.)kedro_accelerator.plugins.TeePlugin
          name: Run the pipeline using the `ThreadRunner`
  build-and-test:
    <<: *job-setup
    steps:
      - build:
          python-version: << parameters.python-version >>
          kedro-version: << parameters.kedro-version >>
      - run:
          command: kedro test
          name: Test

workflows:
  main:
    jobs:
      - build-and-lint:
          python-version: "3.8"
          kedro-version: 0.17.0
      - build-and-run:
          matrix:
            parameters:
              python-version: ["3.6", "3.7", "3.8"]
              kedro-version: [0.16.5, 0.16.6, 0.17.0]

      - build-and-test:
          python-version: "3.8"
          kedro-version: 0.17.0
